@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar untuk tampilan aplikasi */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #475569; 
  border-radius: 10px;
}